div{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}

.prof{
    background:black;
    width:10px;
    height:10px;
    display:inline-block;
}



.profBox{
	display:inline-block;
    background:white;
    width:300px;
    height:105px;
    overflow: hidden;
	background:white;
	box-shadow: 2px 7px 7px .5px #D4D4D4;
	padding-bottom:10px;
}

#staticBox{
    left:400px;
}

#emptyBox{
    left:700px;
    display:none;
}


.profName{
    font-size:20px;
    height:20px;
    text-align:center;
    padding-top:5px;
    background:#EAEAEA;
    width:90%;
    padding-bottom:5px;
    margin:0 auto;
}

.profLink{
	color:black;
}

.profLink:hover{
	color:#0C72AD
}


.profMetricsWrapper{
    clear:left;
    height:85px;
    padding-top:5px;
}

.profMetricsHeader{

}

.profScore,.profAvgGrade{
    text-align:center;
    width:50%;
    margin:0 auto;
    float:left;
}

.metricGrade,.metricScore{
    font-size:30px;
        background:#0C72AD;
    color:white;
}

.profScores{
    clear:left;
}

.profMetric{
    clear:left;
}

.showReviews{
    width:25%;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
	background:#EAEAEA;
	text-align:center;
	cursor:hand;
	cursor:pointer;
}


.reviewHeader{
    padding-right:10px;
    background:#EAEAEA;
}

.reviewHeaderClass{
    padding-top:5px;
    float:right;
    text-align:right;

    height:40px;
}

.reviewScore{
    height:40px;
    font-size:20px;
    padding-left:30px;
    padding-top:10px;
}

.reviewText{
    
}

.review{
}

/* Scrollbars */

::-webkit-scrollbar {  
    width: 8px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #1F1F1F;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  
