.prof{
    background:black;
    width:10px;
    height:10px;
    display:inline-block;
}

.profBox{
    background:white;
    width:300px;
    height:200px;
    position:absolute;
    overflow: auto;
    border:2px solid black;
}

.profName{
    font-size:20px;
    background:green;
    height:20px;
    text-align:center;
}


.profMetricsWrapper{
    clear:left;
    background:green;
    height:60px;
}

.profMetricsHeader{

}

.profScore,.profAvgGrade{
    text-align:center;
    width:50%;
    float:left;
}

.metricGrade,.metricScore{
    font-size:30px;
}

.profScores{
    clear:left;
}

.profMetric{
    clear:left;
}

.reviewHeader{
    background:grey;
}
.review{
    border:1px solid black;
}

/* Scrollbars */

::-webkit-scrollbar {  
    width: 8px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #1F1F1F;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  