<link rel="stylesheet" type="text/css" href="popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<body>
  <div class="card" id="wrapper">
    <div class="card-image">
      <img src="http://i.gyazo.com/992610c8ab2c2aee95377dcaa50c9a0e.png">
    </div>
    
    <div class="card-content">
      <span class="card-title black-text">How to Use</span>
        <p>
       Search for classes and right click anywhere and hit the "Professor Reviews"
       </p>
    </div>
  </div>
</body>

